*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}

#header{
   display: flex;
   flex-wrap: wrap;
   min-height: 15vh;
   justify-content: space-between;
   align-items: center;
   background-color: cadetblue;
   padding: 30px;
}

.header-nav{
    display: flex;  
}

.header__logo img{
    height: 7rem;
}

.header-nav ul{
    display: flex;
    color: white;
    list-style: none;
}

.header-nav li{
    display: flex;
    text-align: center;
    padding: 14px 20px;
}

#main{
    display: flex;
    flex-wrap: wrap;
}

.aside-section{
    display: flex;
    flex: 30%;
    flex-direction: column;
    justify-content: space-around;
    background-color: chocolate;
    padding: 30px;
}

.aside-section div{
    display: flex;
    width: 100%;
    background-color: beige;
    padding: 20px;
    min-height: 10rem;
}

.aside__img img{
    width: 100%;
}

.main-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 70%;
    min-height: 530px;
    background-color: cornflowerblue;
    padding: 30px;
}

.section-article{
    background-color: blanchedalmond;
    padding: 20px;
    margin-top: 6rem;
}

#footer{
   display: flex;
   flex-wrap: wrap;
   min-height: 20vh; 
   justify-content: center;
   align-items: center;
   background-color: darkgoldenrod;
}

.footer__copy{
    padding: 30px;
}

@media screen and (max-width: 700px) {
    #main, #header {   
      flex-direction: column;
    }
  }