:root{
    --padding-main: 30px;
    --width-main: 100%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: var(--width-main);
    min-height: 15vh;
    background-color: brown;
    padding: var(--padding-main);
}

.header-logo img{
    width: 5rem;
    min-height: 5rem;
}

.header-nav{
    display: flex;
    flex-wrap: wrap;
}

.header-nav li{
    padding: var(--padding-main);
    list-style: none;
}

main{
    display: flex;
    flex-wrap: wrap;
}

aside{
    display: flex;
    flex: 30%;
    min-height: 70vh;
    background-color: cadetblue;
}

.aside-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: var(--padding-main);
}

.aside__box{
    display: flex;
    width: 80%;
    min-height: 10rem;
    margin: 10px;
}

.aside__image img{
    width: var(--width-main);
}

.section-main{
    display: flex;
    flex: 70%;
    min-height: 70vh;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-main);
    background-color: burlywood;   
}

.section-article{
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    min-height: 2rem;
    margin: 30px;
}

footer{
    display: flex;
    flex-wrap: wrap;
    width: var(--width-main);
    min-height: auto;
    background-color: darkgoldenrod;
}