*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}

.rem{
    font-size: 1.6rem;
}

.absolute{
    font-size: 18px;
}

.relative{
    font-size: 75%;
}

p{
    font-size: 20px;
}

div p{
    font-size: 2em;
}