*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;    
}

#header{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   height: 20vh;
   width: 100vw;
   background-color: cadetblue;
   flex-basis: 10rem;
   flex-grow: 1;
}

.header-nav{
    display: flex;
    flex-wrap: wrap;
}

.header__logo img{
    height: 7rem;
}

.header-nav ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
    background-color: burlywood;
}

.header-nav li{
    margin-left: 15rem;
    margin-right: 5rem;
}

#main{
    display: flex;
    flex-wrap: wrap; 
}
#footer{
   
}